<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  CTA as CallToAction,
  BlogCards,
  SlpHorizontalRule,
  CopyResources,
  FreeTrialCTA,
  Events,
} from '../../../components/common/index.vue';
import { SolutionsCarouselVideos as VideoCarousel } from '../../../components/solutions/index.vue';
import {
  EnterpriseFeatureList,
  EnterpriseHighlights,
} from '../../../components/enterprise/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    CallToAction,
    EnterpriseFeatureList,
    EnterpriseHighlights,
    Events,
    BlogCards,
    VideoCarousel,
    CopyResources,
    FreeTrialCTA,
    SlpHorizontalRule,
  },

  async asyncData({ $content, error }: any) {
    try {
      const allRemote = await $content('company/culture/all-remote').fetch();
      return { allRemote };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).allRemote, this.$route.path);
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <CallToAction :data="allRemote.call_to_action" />
    </SlpContainer>
    <SlpContainer class="displaced-grey-background slp-mb-96">
      <EnterpriseFeatureList :data="allRemote.feature_list" />
      <EnterpriseHighlights :data="allRemote.highlights_1" />
      <EnterpriseHighlights :data="allRemote.highlights_2" />
    </SlpContainer>
    <SlpContainer>
      <Events :data="allRemote.events" />
      <BlogCards :data="allRemote.blog_cards" />
      <VideoCarousel :data="allRemote.video_carousel" />
      <SlpHorizontalRule class="slp-mb-128 slp-mt-128" />
      <CopyResources :data="allRemote.resources" />
      <FreeTrialCTA
        variant="image"
        title="What’s stopping you from transforming your software development process?"
        subtitle="We’re here to help. Talk to an expert today."
        type="pricing"
      />
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.displaced-grey-background {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - 300px);
    margin-top: 96px;
    width: 100vw;
    background: #f8f8f8;
  }
}
</style>
